{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}

    <section id="home_accroche">
        <h1>Bienvenue !</h1>
    </section>

    <section id="tricks_list">
        {% include "figure/figures_list.html.twig" %}
    </section>

{% endblock %}