{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}

    <section id="home_accroche">
        <h1>Bienvenue !</h1>
        <p>"Plongez dans l'univers enneigé du snowboard avec notre communauté passionnée !<br>
        Découvrez, partagez et échangez sur les figures emblématiques du snowboard, enrichissant ainsi votre expérience glisse comme jamais auparavant.<br>
        Rejoignez-nous pour explorer les pentes, apprendre de nouvelles astuces et connecter avec d'autres riders enthousiastes !"</p>
    </section>

    <section id="tricks_list">
        {% include "figure/figures_list.html.twig" %}
    </section>

{% endblock %}