<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SnowTricks{% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Sniglet:wght@400;800&display=swap">
        <link rel="icon" href="favicon.ico">
        {% block stylesheets %}
        <link rel="stylesheet" href="assets/styles/app.css">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            {% include "header.html.twig" %}
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
            {% include "footer.html.twig" %}
        </footer>
    </body>
</html>
